@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add custom styles for OpenLayers controls */
.map {
  height: 100%;
  width: 100%;
}

.custom-bottom-left-control {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  top: auto !important;
  right: auto !important;
}

body {
  background-color: white; /* Ensure the background is set */
  overflow: hidden; /* Prevent any overflow issues */
}

.sidebar-container {
  transition: width 0.5s ease; /* Smooth transition */
  background-color: white; /* Ensure the sidebar has the correct background color */
}

.main-content {
  background-color: white; /* Set the background for the content area */
}

.ol-rotate {
  display: none !important; /* Always hide the rotate control */
}
